<footer>
  <div
    class="wrapper"
    style="background-color: rgba(240, 232, 232, 0.879); height: 80px"
  >
    <div class="inner">
      <ul class="cate-list no-bullets inline-list text-center clearfix"></ul>
    </div>
  </div>

  <div class="row mt-5" style="width: 80%; margin-left: 10%">
    <div class="col-4">
      <h4>FashionShoes</h4>
      <h6>
        Hộ Kinh Doanh: FashionShoes <br />
        MST: - Số ĐKKD:
      </h6>

      <h6>Địa chỉ:</h6>
      <h6>Số điện thoại: 11122122</h6>
      <h6>Email:</h6>
    </div>
    <div class="col-4">
      <h4>LIÊN KẾT NHANH</h4>
      <a href="">Hướng Dẫn Mua Hàng</a> <br />
      <a href=""> Chính Sách Khách Hàng Thân Thiết</a><br />
      <a href="">Hệ Thống Cửa Hàng</a><br />
      <a href=""> Hướng Dẫn Chọn Size</a><br />
      <div class="katie-katie">
        <h4 class="title-menu"></h4>
        <a href="" title="">
          <img
            class="lazyload img-fluid"
            src="//theme.hstatic.net/200000382351/1000825889/14/footer_trustbadge.jpg?v=182"
            alt=""
          />
        </a>

        <a
          href="http://online.gov.vn/Home/WebDetails/43181?AspxAutoDetectCookieSupport=1"
          title="Thông tin giaybom"
        >
          <img
            class="lazyload"
            src="//theme.hstatic.net/200000382351/1000825889/14/logo_bct.png?v=182"
            data-src="//theme.hstatic.net/200000382351/1000825889/14/logo_bct.png?v=182"
            alt="Thông tin giaybom"
          />
        </a>
      </div>
    </div>
    <div class="col-4">
      <h2>ĐĂNG KÝ NHẬN TIN</h2>
      <div class="form-group">
        <label for="exampleFormControlInput1">Email </label>
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
        />
      </div>

      <h6>
        Mỗi tháng giayBOM đều có những đợt giảm giá dịch vụ và sản phẩm nhằm tri
        ân khách hàng. Để có thể cập nhật kịp thời những đợt giảm giá này, vui
        lòng nhập địa chỉ email của bạn vào ô dưới đây.
      </h6>
    </div>
  </div>
</footer>
