<ng-container *ngIf="true">
  <div class="cart-table">
    <div class="cart -product">
      <table class="table">
        <thead>
          <tr>
            <th>STT</th>
            <th scope="col" style="text-align: center">
              Thông tin chi tiết sản phẩm
            </th>
            <th scope="col" style="text-align: center">Đơn giá</th>
            <th scope="col" style="text-align: center">Số lượng</th>
            <th scope="col" style="text-align: center">Tổng giá</th>
            <th scope="col" style="text-align: center">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ListCartPro; let i = index">
            <td>{{ 1 + i }}</td>
            <td class="row container">
              <div class="col-md-6">
                <img
                  src="../assets/product/{{ item.Name }}/{{ item.Image }}"
                  alt=""
                  style="width: 200px; height: 200px"
                />
              </div>
              <div class="col-md-6" style="text-align: center">
                <p>{{ item.Name }}</p>
                <p>phiên bản : {{ item.Color }} / {{ item.Size }}</p>
              </div>
            </td>
            <td style="text-align: center">{{ item.Price }},000 VND</td>
            <td style="text-align: center">
              <div class="Quantity">
                <button
                  type="button"
                  style="background-color: #ffffff; width: 30px"
                  (click)="minus(item)"
                >
                  <i class="bi bi-dash"></i>
                </button>
                <input
                  type="text"
                  style="
                    text-align: center;
                    background-color: #ffffff;
                    width: 90px;
                  "
                  [value]="item.Quantity"
                />
                <button
                  type="button"
                  style="background-color: #ffffff; width: 30px"
                  (click)="plus(item)"
                >
                  <i class="bi bi-plus"></i>
                </button>
              </div>
            </td>
            <td style="text-align: center">{{ item.Sum }},000 VND</td>
            <td scope="col" style="text-align: center">
              <button
                class="btn btn-danger"
                (click)="removeItem(item.IdProd, item.Color, item.Size)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-end">
      <div class="sumbill">
        <div class="row">
          <div class="col-md-6">Tổng sản phẩm :</div>
          <div class="col-md-6">{{ sum }},000 VND</div>
          <div class="col-md-6">Thuế :</div>
          <div class="col-md-6">{{ tax }},000 VND</div>
          <div class="col-md-6">Tổng hóa đơn :</div>
          <div class="col-md-6">{{ sumbill }},000 VND</div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button
        class="col-3 w-100 mt-5"
        style="
          border-color: #ffffff;
          background-color: #facd7e;
          height: 70px;
          color: aliceblue;
          font-weight: 900;
        "
        (click)="openDialog()"
      >
        Thanh toán
      </button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="false">
  <div class="container">
    <div class="cart">
      <h5>My Cart</h5>
    </div>
    <div class="center">
      <img src="../assets/banner/bannercart.jpg" alt="" />
      <h4>Your cart is empty!</h4>
      <h6>Add item to it now</h6>
      <button class="btn btn-primary">Shop now</button>
    </div>
  </div>
</ng-container>
