.cart{
   
    margin:  25px;
    padding: 25px;
}
.center{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     text-align: center;
}
.center img {
    text-decoration: none;
    color: inherit;
    outline: none;
    height: 180 px;
    width: 250px;
    margin:  20px 0px;
}
h4,h6{ font-weight: 400 ;
}
.cart-table{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 2);
    border-radius: .25rem;

}
.center .btn {
    font-size: 14px !important;
    margin-top: 20px !important;
    font-weight: 400;
    padding: 12px 72 px;
    border-radius: 3px !important;
}
.sumbill{
    width: 25%;
    text-align: end;
}