<h6 class="mt-5 ml-5"><a href="home">trang chủ </a> > best seller</h6>
<div class="d-flex justify-content-between mt-5 ml-5 mr-5">
  <div>
    <h3>BEST SELLER</h3>
  </div>
  <div>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      sắp xếp
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div
      class="col-lg-3 mb-4 text-center"
      *ngFor="let itemPro of listBestSeller"
    >
      <img
        class="w-100"
        src="../assets/product/{{ itemPro.Name }}/{{ itemPro.Image }}"
        alt=""
      />
      <div>
        <h6>{{ itemPro.Name }}</h6>
        <p>{{ itemPro.Sale_Price }}.000VNĐ</p>
      </div>
    </div>
  </div>
</div>
