.grid-uniform{
   
  background-color: white;
  width: 100%;
  height: 12rem;
  padding: 3rem 1rem;
}
#home-policy{
    position: relative;
    transform: translateY(-50px);
    z-index: 2;
}
.wrapper{
    padding: 0 8.5rem;
}
.policy-icon img{
    width: 100%;
}
.ProductPicture{
    width: 75%;
    height: 100%;
}
.policy-desc a h5{
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.policy-desc p{
    font-size: 14px;
}
.section-desc::after { 
     content: '';
    display: block;
    width: 150px;
    height: 2px;
    background: #666666;
    margin: 10px auto 50px;
    
}
.hover-class:hover {
    background-color: red;
  }
 .News {
    width: 450px;
    height: 125px;
    line-height: 25px;
    -webkit-line-clamp: 6;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: justify;
    text-overflow: ellipsis;
  }
  .titel{
    margin-top: 20px;
    width: 450px;
line-height: 1.5;
  }
  .hoverpro {
    
    border-color: #666666;
    transition: transform .2s; 
   
    margin: 0 auto;
  }
  
  .hoverpro:hover {
    transform: scale(1.05); 
    
  }

  .hide {
    display: none;
    visibility: visible;
  }
  
  
  .myDIV:hover  .hide {
    display: block;
    color: black;
  }
    
