<div
  id="carouselExampleControls"
  class="carousel slide mt-3"
  data-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block w-100"
        src="../assets/banner1.png "
        alt="First slide"
      />
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="../assets/banner2.png"
        alt="Second slide"
      />
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="../assets/banner1.png"
        alt="Third slide"
      />
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleControls"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleControls"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<section id="home-policy">
  <div class="wrapper">
    <div class="inner">
      <div class="policy-content">
        <div class="grid-uniform row">
          <div class="col-3">
            <div class="row">
              <div class="policy-icon col-2 mt-3">
                <img
                  src="//theme.hstatic.net/200000382351/1000825889/14/policy_icon1.png?v=182"
                  alt="Giao hàng toàn quốc"
                />
              </div>
              <div class="policy-desc col-10">
                <a href="">
                  <h5>GIAO HÀNG TOÀN QUỐC</h5>
                </a>
                <p>Miễn Phí Ship Hoá Đơn trên 500K</p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="row">
              <div class="policy-icon col-2 mt-3">
                <img
                  src="//theme.hstatic.net/200000382351/1000825889/14/policy_icon2.png?v=182"
                  alt="Bảo Hành 365 ngày "
                />
              </div>
              <div class="policy-desc col-10">
                <a href="">
                  <h5>BẢO HÀNH 365 NGÀY</h5>
                </a>
                <p>
                  Tất cả sản phẩm đều được bảo hành keo, chỉ 365 ngày miễn phí.
                </p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="row">
              <div class="policy-icon col-2 mt-3">
                <img
                  src="//theme.hstatic.net/200000382351/1000825889/14/policy_icon3.png?v=182"
                  alt="Đổi trả tiện lợi"
                />
              </div>
              <div class="policy-desc col-10">
                <a href="">
                  <h5>ĐỔI TRẢ TIỆN LỢI</h5>
                </a>
                <p>
                  60 ngày đổi trả vì bất kỳ lý do gì. Đến tận nơi nhận hàng đổi
                  trả.
                </p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="row">
              <div class="policy-icon col-2 mt-3">
                <img
                  src="//theme.hstatic.net/200000382351/1000825889/14/policy_icon4.png?v=182"
                  alt="Kiểm tra hàng thuận tiện "
                />
              </div>
              <div class="policy-desc col-10">
                <a href="">
                  <h5>KIỂM TRA HÀNG THUẬN TIỆN</h5>
                </a>
                <p>Hỗ trợ kiểm tra hàng thuận tiện khi mua online</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div>
  <div class="section-desc">
    <h2 style="text-align: center">SẢN PHẨM BÁN CHẠY</h2>
  </div>

  <div class="d-flex justify-content-center p-4">
    <div>
      <button
        type="button"
        class="btn btn-outline-warning"
        style="width: 180 px; height: 45px; margin-right: 5px"
        (click)="DSSP()"
      >
        BEST SELLER
      </button>
    </div>
    <div *ngFor="let itemPro of Category">
      <button
        type="button"
        class="btn btn-outline-warning"
        style="width: 180 px; height: 45px; margin-right: 5px"
        (click)="OnClick(itemPro.Id)"
      >
        GIÀY {{ itemPro.Name }}
      </button>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 text-center" *ngFor="let itemPro of ListCategory">
        <div class="myDIV">
          <div class="hoverpro">
            <img
              class="w-100"
              src="../assets/product/{{ itemPro.Name }}/{{ itemPro.Image }}"
              alt=""
            />
            <div style="height: 8rem" class="mt-4">
              <h6>{{ itemPro.Name }}</h6>
              <p>{{ itemPro.Sale_Price }}.000VNĐ</p>
              <a class="hide" [routerLink]="['/product-detail', itemPro.Id]"
                >Xem chi tiết</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-5">
    <a routerLink="category-product" style="font-size: 13.5px">xem tất cả >></a>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div>
    <a href="">
      <img
        src="../assets/banner/bannermini1.webp"
        alt=""
        style="width: 90%; margin-left: 10%"
      />
    </a>
  </div>
  <div>
    <a href="">
      <img
        src="../assets/banner/bannermini2.webp"
        alt=""
        style="width: 90%; margin-left: 10px"
      />
    </a>
  </div>
</div>
<div>
  <div class="section-desc mt-5">
    <h2 class="section-title" style="text-align: center">NEW ARRIVAL</h2>
    <h4 style="text-align: center">Các sản phẩm mới nhất chào năm mới 2022</h4>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div
          class="col-lg-3 mb-4 text-center"
          *ngFor="let itemPro of NewProduct"
        >
          <div class="myDIV">
            <div class="hoverpro">
              <img
                class="w-100"
                src="../assets/product/{{ itemPro.Name }}/{{ itemPro.Image }}"
                alt=""
              />
              <div style="height: 8rem" class="mt-4">
                <h6>{{ itemPro.Name }}</h6>
                <p>{{ itemPro.Sale_Price }}.000VNĐ</p>
                <a class="hide" [routerLink]="['/product-detail', itemPro.Id]"
                  >Xem chi tiết</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <h6 class="mr-2">xem tất cả</h6>
    <a routerLink="new-arrival" style="font-size: 13.5px">NEW ARRIVAL >></a>
  </div>
</div>
<div>
  <div class="section-desc">
    <h2 class="section-title" style="text-align: center">BOOTS</h2>
    <h4 style="text-align: center">BOOTS 2022</h4>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 mb-4 text-center" *ngFor="let itemPro of boots">
          <div class="myDIV">
            <div class="hoverpro">
              <img
                class="w-100"
                src="../assets/product/{{ itemPro.Name }}/{{ itemPro.Image }}"
                alt=""
              />
              <div style="height: 8rem" class="mt-4">
                <h6>{{ itemPro.Name }}</h6>
                <p>{{ itemPro.Sale_Price }}.000VNĐ</p>
                <a class="hide" [routerLink]="['/product-detail', itemPro.Id]"
                  >Xem chi tiết</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <h6 class="mr-2">xem tất cả</h6>
    <a href="" style="font-size: 13.5px">BOOTS>></a>
  </div>
</div>

<div>
  <div class="section-desc mt-5">
    <h2 style="text-align: center">
      MANG ĐẾN TRẢI NGHIỆM TUYỆT VỜI NHẤT CHO KHÁCH HÀNG
    </h2>
  </div>
  <div class="row">
    <div class="col w-50">
      <h6>
        Với sứ mệnh "Mang đến trải nghiệm tuyệt vời nhất cho khách hàng",
        giayBOM luôn không ngừng nổ lực mang đến cho khách hàng những sản phẩm
        chất lượng với giá cả hợp lý cùng dịch vụ khách hàng tuyệt vời nhất.
      </h6>
    </div>
    <div class="col">
      <img src="../assets/tintuc.png" alt="" style="width: 80%" />
    </div>
  </div>
</div>
<div>
  <div class="section-desc mt-5">
    <h2 style="text-align: center">TIN TỨC THỜI TRANG</h2>
    <h6 style="text-align: center">
      Tin tức về thời trang, về phụ nữ hấp dẫn nóng hổi nhất
    </h6>
  </div>
  <div class="d-flex justify-content-center ml-5 w-100">
    <div *ngFor="let itemNews of listNews" class="container">
      <img
        src="../assets/banner/{{ itemNews.Img }}"
        alt=""
        style="height: 400px; padding: 0rem 1.6rem"
      />
      <h6 class="titel">
        {{ itemNews.Name }}
      </h6>
      <p class="News">
        {{ itemNews.Content }}
      </p>
      <div>
        {{ itemNews.Created_at }}
      </div>
    </div>
  </div>
</div>
