.prime1{
    width: 70%; 
    text-align: center;
    margin-left: 15% ;  
    line-height: inherit;
}
.prime1_2{
    width: 100%;

}
.myCopy {
    display: block;
    height: 10px;
    border-bottom: solid 1px #000;
    text-align: center;
}

.myCopy span {
    display: inline-block;
    background-color: #fff;
    padding: 0 10px;
}
.hoverpro {
    
    border-color: #666666;
    transition: transform .2s; 
   
    margin: 0 auto;
  }
  
  .hoverpro:hover {
    transform: scale(1.05); 
    
  }

  .hide {
    display: none;
    visibility: visible;
  }
  
  
  .myDIV:hover  .hide {
    display: block;
    color: black;
  }
    