<div style="background-color: #feeecc">
  <img class="w-100" src="../assets/banner/bannerprice.webp" alt="" />
  <h6 class="prime1 mt-5">
    Chào ngày mới, cô nàng chăm chỉ làm việc và học suốt thời gian qua. Hãy chậm
    lại một chút để quan sát mọi cảnh vật xung quanh để thấy điều thú vị luôn
    xuất hiện xung quanh ta. Nếu nàng muốn dừng chân để tìm bạn đồng hành “bớt”
    cô đơn trên con đường phía trước. Vậy, bạn hãy ghé vào FASHION SHOES luôn có
    bạn đồng hành nhé.
  </h6>
  <div class="row mt-5">
    <div class="col -md-6">
      <img class="prime1_2" src="../assets/banner/bannerprice1.webp" alt="" />
    </div>
    <div class="col -md-6 w-100">
      <img class="prime1_2" src="../assets/banner/bannerprice2.webp" alt="" />
      <div class="container mt-3" style="text-align: center">
        <h5>
          <a class="mt-3" href="" style="color: black"
            >GB PRIME MIX COLOR B1111</a
          >
        </h5>
        <h5 class="mt-5">320,000₫</h5>
        <h6 class="mt-3">
          Cân mọi outfit cùng kiểu giày Prime, được thiết tối giản để nâng lên
          tổng thể trang phục. Sẵn sàng giúp bạn chinh phục mọi sự kiện diễn ra
          hằng ngày.
        </h6>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col -md-6">
      <img class="prime1_2" src="../assets/banner/bannerprice3.webp" alt="" />
      <div class="container mt-3" style="text-align: center">
        <h5>
          <a class="mt-3" href="" style="color: black"
            >GB PRIME TEXTURES B1648</a
          >
        </h5>
        <h5 class="mt-3">290,000₫</h5>
        <h5 class="mt-3">
          GB Prime Textures B1648 - phù hợp cho cô nàng yêu thích phong cách
          hoạt hình. Ngoài ra, sản phẩm được làm chất liệu da PU, dễ dàng xoá
          bay mọi vết bẩn.
        </h5>
      </div>
    </div>
    <div class="col -md-6 w-100">
      <img class="prime1_2" src="../assets/banner/bannerprice4.webp" alt="" />
    </div>
  </div>

  <img class="prime1_2 mt-3" src="../assets/banner/bannerprice5.webp" alt="" />

  <div class="row mt-5">
    <div class="col -md-6">
      <img class="prime1_2" src="../assets/banner/bannerprice6.webp" alt="" />
    </div>
    <div class="col-md-6" style="margin-top: 25%">
      <div class="container mt-3" style="text-align: center">
        <h5>
          <a class="mt-3" href="" style="color: black"
            >GB PRIME CREAM FULL PU B1553</a
          >
        </h5>
        <h5 class="mt-3">285,000₫</h5>
        <h6 class="mt-3">
          Công cụ “hack” dáng cực đỉnh nhờ chiếc đế thần 4cm cùng chất liệu đệm
          lót êm ái. GB PRIME FULL PU B1553 nhất định đem đến trải nghiệm tuyệt
          vời cho nàng.
        </h6>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col -md-6">
      <img class="prime1_2" src="../assets/banner/bannerprice8.webp" alt="" />
      <div class="container mt-3" style="text-align: center">
        <h5>
          <a class="mt-3" href="" style="color: black">GB CLASSICS B1574</a>
        </h5>
        <h5 class="mt-3">655,000₫</h5>
        <h6 class="mt-3">
          Mẫu giày Classic - nói không với lỗi thời. Lấy tinh thần chủ đạo mang
          tới cảm giác thoải mái trong từng bước chân. Mẫu giày “should have”
          trong tủ giày mọi nhà.
        </h6>
      </div>
    </div>
    <div class="col-md-6">
      <img class="prime1_2" src="../assets/banner/bannerprice9.webp" alt="" />
    </div>
  </div>
</div>
<div>
  <h2 class="myCopy mt-5">
    <span>TẤT CẢ SẢN PHẨM TRONG BỘ</span>
  </h2>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-3 mb-4 text-center" *ngFor="let itemPro of prime">
        <div class="myDIV">
          <div class="hoverpro">
            <img
              class="w-100"
              src="../assets/product/{{ itemPro.Name }}/{{ itemPro.Image }}"
              alt=""
            />
            <div style="height: 8rem" class="mt-4">
              <h6>{{ itemPro.Name }}</h6>
              <p>{{ itemPro.Sale_Price }}.000VNĐ</p>
              <a class="hide" [routerLink]="['/product-detail', itemPro.Id]"
                >Xem chi tiết</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
