.dropdown{
    position: relative;
    display: inline-block;
 }
 .dropdown-content{
    display: none;
    position: absolute;
    background-color: #ffffff;
    z-index: 1000;
    list-style: none;
 }
 .dropdown:hover .dropdown-content{
    display: block;
 }
 .dropdown-content a{
     color: black;
     padding: 8px 8px;
    text-decoration: none;
 }
 .fixed{
   height: 40px;
   line-height: 40px;
   position: fixed;
   width: 100%;
   top: 0px;
}
.relative{
   margin-top: 80px;
   position: relative;
   z-index: 1000;
   
}
img {
   z-index:  0;
}
.active-pink-2 input[type=search]:focus:not([readonly]) {
   border-bottom: 1px solid #f48fb1;
   box-shadow: 0 1px 0 0 #f48fb1;
 }
 .change:hover {
   background-color: lightblue;
  max-width:  210px;
 }
 .scroll{
   max-height: 210px;
   max-width: 210px;
   overflow-y: scroll;
   overflow-x: unset;
   text-overflow: hidden;
   white-space: nowrap;
   
}
.onsearch:hover {
   background-color: lightblue;
 }
 .textcart{
   font-size:15px;
   color: red;
   border-radius:50%;
   padding: 0 5px;
   font-weight: 700;
   position:relative;
   cursor: pointer;
   left:-15px;
   top:-14px;
   opacity:0.9;
}
.cart{
   cursor: pointer;

}
