<div class="relative">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed">
    <h3>
      <a class="ml-5 mr-5 font-size :30px" routerLink="">FashionShoes</a>
    </h3>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="new-arrival"
            >NEW2022 <span class="sr-only"></span
          ></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="prime"
            >GB PRIME<span class="sr-only"></span
          ></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" style="color: black"
            >SẢN PHẨM</a
          >

          <div class="dropdown-content">
            <div *ngFor="let item of listCategory">
              <a
                class="dropdown-item"
                [routerLink]="['/list-product', item.Id]"
                >{{ item.Name }}</a
              >
              <div class="dropdown-divider"></div>
            </div>
          </div>
        </li>

        <li class="nav-item active">
          <a class="nav-link" routerLink="login"
            >login <span class="sr-only"></span
          ></a>
        </li>
      </ul>
      <div class="mt-4">
        <div>
          <ul>
            <li class="nav-item dropdown">
              <div class="md-form active-pink active-pink-2 mt-1">
                <input
                  class="form-control"
                  type="text"
                  id="search1"
                  placeholder="seach"
                  aria-label="Search"
                  mdbInput
                  [(ngModel)]="keySearch"
                  (keyup)="onKeyUp($event)"
                />
              </div>
              <div class="dropdown-content w-100" style="border-radius: 5px">
                <div class="scroll">
                  <div class="onsearch ml-3" *ngFor="let item of seach">
                    <a
                      class="change"
                      style="font-size: 13px"
                      [routerLink]="['/product-detail', item.Id]"
                      (click)="OnClick(item.Id)"
                      >{{ item.Name }}</a
                    >
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="cart mt-3 ml-3">
        <i class="fa badge fa-lg" style="font-size: 25px" routerLink="cart"
          >&#xf07a;
        </i>
        <span class="textcart">{{ count }}</span>
      </div>
    </div>
  </nav>
</div>
