<div class="container">
  <div>
    <h6 class="mt-5 ml-5 mb-5" style="font-size: 13px">
      <a routerLink="">TRANG CHỦ </a>
      >CHI TIẾT SẢN PHẨM > {{ ListCategory.Name }}
    </h6>
  </div>

  <div class="row mt-5">
    <div class="col-md-6">
      <div class="w3-content w3-display-container">
        <div class="w3-display-container mySlides" *ngFor="let item of image">
          <img
            src="../assets/product/{{ ListCategory.Name }}/{{ item.img_link }}"
            style="width: 100%"
          />
        </div>
        <button
          class="w3-button w3-display-left w3-black"
          onclick="plusDivs(-1)"
        >
          &#10094;
        </button>
        <button
          class="w3-button w3-display-right w3-black"
          onclick="plusDivs(1)"
        >
          &#10095;
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <p class="NamePro">{{ ListCategory.Name }}</p>
      <h5 style="color: #facd7e; display: inline; margin-top: 5px">
        {{ ListCategory.Sale_Price }},000 VND
      </h5>
      <div type="button" class="mt-3" style="background-color: #fff">
        <p style="float: left">Màu sắc :</p>
        <button
          class="selectcolor btn btn-outline-warning ml-2"
          *ngFor="let item of color"
          (click)="selectColor(item)"
        >
          {{ item }}
        </button>
      </div>
      <div type="button" class="mt-3">
        <p style="float: left">Kích thước :</p>
        <button
          class="selectsize btn btn-outline-success ml-2"
          *ngFor="let item of size"
          (click)="selectSize(item)"
        >
          {{ item }}
        </button>
      </div>

      <div class="d-flex mt-3">
        <p>Số lượng</p>
        <button
          type="button"
          style="background-color: #ffffff; width: 30px"
          (click)="minus()"
          class="ml-5"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-dash"
            viewBox="0 0 16 16"
          >
            <path
              d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"
            />
          </svg>
        </button>
        <input
          type="text"
          style="text-align: center; background-color: #ffffff; width: 90px"
          [value]="Quantity"
        />
        <button
          type="button"
          style="background-color: #ffffff; width: 30px"
          (click)="plus()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-plus"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
            />
          </svg>
        </button>
      </div>
      <div class="row mt-5">
        <button
          class="col-6 w-100"
          style="
            background-color: #666666;
            height: 70px;
            color: aliceblue;
            font-weight: 700;
          "
          (click)="addToCart()"
          type="button"
        >
          THÊM VÀO GIỎ
        </button>
        <button
          class="col-6 w-100"
          style="
            background-color: #facd7e;
            height: 70px;
            color: aliceblue;
            font-weight: 700;
          "
          type="button"
          routerLink="Cart"
        >
          MUA NGAY
        </button>
      </div>
      <p class="mt-5">GỌI ĐỂ MUA HÀNG NHANH HƠN</p>
      <div class="mt-5">
        <h5 style="color: #facd7e; display: inline">0377805512</h5>
        <h6 style="color: black; display: inline">(8h00-22h00)</h6>
      </div>
      <div class="mt-5">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-truck"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
          />
        </svg>
        <p style="display: inline" style="display: inline" class="ml-3 mt-5">
          Ship hàng toàn quốc ( Từ 1 ngày-7 ngày)
        </p>
      </div>
      <div class="mt-5">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-alarm"
          viewBox="0 0 16 16"
        >
          <path
            d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z"
          />
          <path
            d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"
          />
        </svg>
        <p style="display: inline" class="ml-3">
          Đổi trả trong 30 ngày ( Hỗ trợ đổi trả tại nhà)
        </p>
      </div>
      <div class="mt-5">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-handbag"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 1a2 2 0 0 1 2 2v2H6V3a2 2 0 0 1 2-2zm3 4V3a3 3 0 1 0-6 0v2H3.36a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.355a2.5 2.5 0 0 0 2.473-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5H11zm-1 1v1.5a.5.5 0 0 0 1 0V6h1.639a.5.5 0 0 1 .494.426l1.028 6.851A1.5 1.5 0 0 1 12.678 15H3.322a1.5 1.5 0 0 1-1.483-1.723l1.028-6.851A.5.5 0 0 1 3.36 6H5v1.5a.5.5 0 1 0 1 0V6h4z"
          />
        </svg>
        <p style="display: inline" class="ml-3">
          Bảo hàng 365 ngày ( Thanh toán khi nhận hàng)
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <button
    type="button"
    style="
      color: #facd7e;
      width: 20%;
      height: 50px;
      background-color: #ffffff;
      border-color: #facd7e;
    "
  >
    MÔ TẢ SẢN PHẨM
  </button>
  <p class="mt-4">Giày {{ ListCategory.Name }}</p>
  <div class="mt-4">
    <p>1.THÔNG SỐ SẢN PHẨM</p>
    <p>Mã sản phẩm : {{ ListCategory.MaSP }}</p>
    <p>Kiểu đế : {{ ListCategory.KieuDe }}</p>
    <p>Đô cao : {{ ListCategory.DoCao }}</p>
    <p>Cổ giày : {{ ListCategory.CoGiay }}</p>
    <p>Chất liệu : {{ ListCategory.ChatLieu }}</p>

    <p>Kích cỡ : {{ ListCategory.Size }}</p>
  </div>
</div>
<div></div>
