.NamePro{
    font-size:32px ;
    font-weight: 700;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(238, 238, 238, 0.8);
  }
  .mySlides:first-child {display:block;}
  .mySlides {display:none;}

 .selectcolor {
  background-color: #fff; color: black
 }

 .selectsize {
  background-color: #fff; color: black
 }

 