.hoverpro {
    
    border-color: #666666;
    transition: transform .2s; 
   
    margin: 0 auto;
  }
  
  .hoverpro:hover {
    transform: scale(1.05); 
    
  }

  .hide {
    display: none;
    visibility: visible;
  }
  
  
  .myDIV:hover  .hide {
    display: block;
    color: black;
  }
    