<div>
  <div class="container">
    <div>
      <h6 class="mt-5 ml-5 mb-5" style="font-size: 13px">
        <a href="home">TRANG CHỦ </a>
        >NEW ARRIVAL
      </h6>
    </div>
    <div>
      <h4 class="mt-5 ml-5">NEW ARRIVAL</h4>
      <div>
        <button type="button" (click)="Sortascending()">giá tăng dần</button>
        <button type="button" (click)="Sortdecreasing()">giá giảm dần</button>
        <button type="button" (click)="Sortascending()">A-z</button>
        <button type="button" (click)="Sortdecreasing()">Z-A</button>
      </div>
    </div>

    <div class="row mt-5">
      <div
        class="col-lg-3 mb-4 mt-5 text-center"
        *ngFor="let itemPro of NewProduct"
      >
        <div class="myDIV">
          <div class="hoverpro">
            <img
              class="w-100"
              src="../assets/product/{{ itemPro.Name }}/{{ itemPro.Image }}"
              alt=""
            />
            <div style="height: 8rem" class="mt-4">
              <h6>{{ itemPro.Name }}</h6>
              <p>{{ itemPro.Sale_Price }}.000VNĐ</p>
              <a class="hide" [routerLink]="['/product-detail', itemPro.Id]"
                >Xem chi tiết</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
